# Ignore Flax project files
/Binaries/
/Cache/
/Logs/
/Output/
/Screenshots/
*.HotReload.*
Source/*.Gen.*

# Local files
imgui.ini

# Ignore Visual Studio project files (generated locally)
*.csproj
*.sln
launchSettings.json

# Ignore Visual Code project files (generated locally)
*.code-workspace
*.vscode/

# Ignore Rider project files (generated locally)
*.idea/

# Ignore thumbnails created by Windows
Thumbs.db

# Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
*.lib
*.sbr
/Source/obj/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/

# Ignore Nuget packages folder
packages/
